<%- content_for :title, "Recipes" -%>
<%= link_to 'New Recipe', new_recipe_path %>

<div class="clearfix">
	<% @recipes.each do |recipe|  %>
		<%= render partial: "shared/recipe", object: recipe %>
	<% end %>
</div>
