<h2>Shortlist</h2>

<div class="container">
	<% @recipes.each do |recipe|  %>
		<div class="card card--fixedWidth">
			<div class="card__image">
				<%= image_tag recipe.image.thumb('200x200#').url if recipe.image_stored? %>
			</div>
			<div class="card__title"><%= link_to  recipe.title, recipe %></div>
		</div>
	<% end %>
</div>
