<h2>Shortlist</h2
<p><%= link_to "Remove all recipes", remove_all_shortlist_path if @shortlist.recipes.present? %></p>

<div class="clearfix">
	<% @recipes.each do |recipe|  %>
		<%= render partial: "shared/recipe", object: recipe %>
	<% end %>
</div>
