@import url(https://fonts.googleapis.com/css?family=Montserrat:400,300,500);

body {
  margin: 0;
	font-family: 'Montserrat', sans-serif;
  color: #070c0d;
}

h1 {
  font-size: 42px;
  font-weight: bold;
}

h2 {
  font-size: 32px;
  padding: 20px 0;
}

p {
  font-family: Georgia;
  line-height: 1.4;
  margin:5px 0;
  font-size: 18px;
}

strong, b {
  font-weight: bold;
}

a {
  color: #009dff;
  text-decoration: none;

  &:visited {
    color: #009dff;
  }

  &:hover {
    color: #000;
  }
}

table {
  display: block;
  margin: 20px 0;
  tbody > tr > td {
    padding: 5px 0;
  }
}
