

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #ececec;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#page {
  display: flex;
  flex: 1;
  margin: 2% auto;
  width: 80%;
  background-color: #fff;
  border: 1px solid #D2D2D2;
  padding: 5%;
}

header {
  margin-bottom: 2rem;
  > h1 {
    font-size: 2rem;
  }
  > nav {
  }
}

.content {
  flex: 1;
  > h1 {
    font-size: 22px;
    margin-bottom: 1rem;
  }
  > p {
    margin-bottom: 1em;
  }
}

label {
  font-weight: bold;
}

.card {
  width: 200px;
  float: left;
  margin-right: 20px;
}

form.simple_form {
  width: 70%;
}

// Forms

.control-group {
  margin-bottom: 1em;
}

input, textarea, select {
  width: 100%;
  font-size: 1rem;
  padding: 0.25rem 0.25rem;
}

.nested-fields {
  clear: both;
  > .control-group {
    width: 20%;
    float:left;
  }
}
